<style type="text/css">

* {
  box-sizing: border-box;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Full width */
    height: 30%; /* Full height */

}

/* The Close Button */
.close, .close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10,.close11 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#qid {
  padding: 10px 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 20px;
}

.intro-2 {
          background: url("https://pbs.twimg.com/profile_background_images/626100471086850049/8WBVDw0m.jpg")no-repeat center center;
          background-size: cover;
}

label.columnporra {
    float: right;
    width: 492px;
    height: 492px;
    margin: 0px 0px 0 0;
}
#ptotal{
  style="font-family:fantasy;
  color:#4169E1;
  background-color:#FFFFFF;
  font-size:20px;"
}

#botones{

  background-color:rgb(255, 255, 255);
  color: #4169E1;
  font-family: fantasy;
  font-size:25px;
  border-radius: 25px;
}

#tacticas{
  color: #4169E1;
  font-family: fantasy;
}

#blockporra {
    margin-top: 10px;
    position: relative;
}

#equipoideal3d {
    background: transparent url(https://static3.marialunarillos.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/a/campo-de-f_tbol.jpg) no-repeat scroll 0 0;
    height: 850px;
    width: 600px;
    position: relative;
}
#equipoideal3d .j1 {
    left: 266px;
    top: 17px;
}

#equipoideal3d .j2 {
    left: 375px;
    top: 170px;
}
#equipoideal3d .j3 {
    left: 160px;
    top: 170px;
}
#equipoideal3d .j4 {
    left: 490px;
    top: 200px;
}
#equipoideal3d .j5 {
    left: 50px;
    top: 200px;
}
#equipoideal3d .j6 {
    left: 375px;
    top: 390px;
}
#equipoideal3d .j7 {
    left: 160px;
    top: 390px;
}
#equipoideal3d .j8 {
    left: 490px;
    top: 450px;
}
#equipoideal3d .j9 {
    left: 50px;
    top: 450px;
}
#equipoideal3d .j10 {
    left: 375px;
    top: 600px;
}
#equipoideal3d .j11 {
    left: 160px;
    top: 600px;
}

#equipoideal3d li {
    position: absolute;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#equipoideal3d li .num {
    background: #666 none repeat scroll 0 0;
    color: #FFF;
    display: block;
    font-size: 10px;
    height: 11px;
    left: 38px;
    overflow: hidden;
    padding: 0 1px;
    position: relative;
    top: -65px;
    width: 13px;
    text-decoration: center;
    line-height: 11px;
}

#equipoideal3d li .nom {
    background: #666 none repeat scroll 0 0;
    color: #FFF;
    display: block;
    font-size: 9px;
    height: 14px;
    left: -14px;
    overflow: hidden;
    padding: 0 2px;
    position: relative;
    top: -3px;
    width: 72px;
    text-align: center;
    text-decoration: none;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menuitem {
  padding:8px;
  margin-top:7px;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }

</style>
