{% extends "base.html" %} {% block content %}

<header>

    <!--Intro Section-->
    <section class="vista intro-2 hm-gradient">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="d-flex align-items-center content-height">
                    <div class="row flex-center pt-5 mt-3">
                        <div class="col-md-12 col-xl-12">
                            <!--Form-->
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3 class="white-text">
                                            <i class="fa fa-user white-text"></i> Registrar</h3>
                                        <hr class="hr-light">
                                    </div>
                                    <form method="POST" action="">{% csrf_token %}
                                        <div class="md-form">
                                            <input type="text" name="username" id="" class="form-control" style="color:white">
                                            <label for="form2" class="active">Usuario</label>
                                        </div>
                                        <div class="md-form">
                                            <input type="email" name="email" id="" class="form-control" style="color:white">
                                            <label for="form2" class="active">Correo</label>
                                        </div>
                                        <div class="md-form">
                                            <input name="password1" type="password" class="form-control" style="color:white">
                                            <label for="form2" class="active">Contraseña</label>
                                        </div>
                                        <div class="md-form">
                                            <input name="password2" type="password" class="form-control" style="color:white">
                                            <label for="form2" class="active">Repetir contraseña</label>
                                        </div>
                                        <div class="text-center">
                                            <input class="btn btn-indigo waves-effect waves-light" type="submit" value="Registrar" />
                                            <hr class="hr-light mb-3 mt-4">
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!--/.Form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>

{% endblock content %}