<!--Body-->
<div class="md-form">
    <i class="fa fa-envelope prefix white-text active"></i>
    <input type="email" id="form2" class="form-control" style="color:white">
    <label for="form2" class="active">Correo</label>
</div>

<div class="md-form">
    <i class="fa fa-lock prefix white-text active"></i>
    <input type="password" id="form4" class="form-control" style="color:white">
    <label for="form4">Contraseña</label>
</div>

<div class="text-center">
    <button class="btn btn-indigo">Ingresar</button>
    <hr class="hr-light mb-3 mt-4">

</div>